body {
  margin: 0 auto;
  font-family: Montserrat;
  font-style: normal;
}

.container {
  max-width: 1240px;
  width: 100%;
}

.header {
  max-height: 700px;
  height: 100%;
  padding-bottom: 0;
  background: url(./../img/bg/headerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cards {
  background: #bed7ef;
  padding-bottom: 200px;
}

.aboutus {
  margin-top: 0;
  background: url(./../img/bg/windowbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.consult_form {
  background: url(./../img/bg/citybg.jpg) no-repeat;
  background-size: 100%;
}

.address {
  background: #3F51B5 no-repeat;
  background-position-y: top 50%;
}

@media screen and (max-width: 769px) {
  .cards {
    padding-bottom: 0px;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.nav-item .nav-link {
  padding: 0;
}

#navbar_logo {
  width: 255px;
  height: 55px;
}

.nav_bar__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav_bar__tel_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav_bar button {
  width: 200px;
  height: 37px;
  color: #f44336;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid;
  border-radius: 100px;
}

.nav_bar button:hover {
  color: #fff;
  background: #f44336;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid;
  border-radius: 100px;
}

@media screen and (max-width: 380px) {
  #navbar_logo {
    width: 130px;
    height: 30px;
  }
}

.header {
  font-family: Montserrat;
  padding-bottom: 150px;
}

.header h3 {
  padding-top: 100px;
  font-size: 60px;
  font-weight: 400;
  color: #3F51B5;
}

.header h1 {
  font-size: 160px;
  font-weight: 900;
  margin-top: -70px;
  color: #3F51B5;
}

.header h4 {
  margin-top: -25px;
  font-size: 25px;
  font-weight: bold;
}

.header button {
  margin-top: 50px;
  width: 260px;
  height: 57px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
  font-size: 18px;
  font-weight: 600;
}

.header button:hover {
  width: 260px;
  height: 57px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 25px #a94444b6;
          box-shadow: 0 0 25px #a94444b6;
}

@media screen and (max-width: 1100px) {
  .header {
    font-family: Montserrat;
  }
  .header h3 {
    padding-top: 10%;
    font-size: 45px;
    font-weight: 400;
    color: #3F51B5;
  }
  .header h1 {
    font-size: 100px;
    font-weight: 900;
    margin-top: -30px;
    color: #3F51B5;
  }
  .header h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .header button {
    width: 240px;
    height: 50px;
    border-radius: 100px;
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336;
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1105px) {
  .header {
    font-family: Montserrat;
  }
  .header h3 {
    padding-top: 100px;
    font-size: 40px;
    font-weight: 400;
    color: #3F51B5;
    padding-bottom: 0px;
  }
  .header h1 {
    font-size: 90px;
    font-weight: 900;
    margin-top: 0px;
    color: #3F51B5;
  }
  .header h4 {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 847px) {
  .header {
    font-family: Montserrat;
  }
  .header h3 {
    padding-top: 100px;
    font-size: 32px;
    font-weight: 400;
    color: #3F51B5;
    padding-bottom: 0px;
  }
  .header h1 {
    font-size: 60px;
    font-weight: 900;
    margin-top: 0px;
    color: #3F51B5;
  }
  .header h4 {
    font-size: 16px;
    font-weight: bold;
  }
}

.cards {
  text-align: center;
}

.aboutus__left_section {
  margin-top: -180px;
  padding: 50px;
  background: #3F51B5;
  color: white;
}

.aboutus__left_section h1 {
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 70px;
}

.aboutus__right_section {
  margin-top: -180px;
  padding: 50px;
  background: white;
  color: #999999;
}

.aboutus__right_section h1 {
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 70px;
}

.aboutus__right_section ul {
  padding-top: 33px;
  list-style: none;
  background: url(./../img/bg/list-dots.svg) no-repeat;
}

.aboutus__right_section ul li {
  font-family: Montserrat;
  font-size: 16px;
  margin-bottom: 17px;
  padding-left: 60px;
  color: #222222;
  font-weight: bolder;
}

#advantages_title {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  font-family: Montserrat;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}

.advantages {
  text-align: center;
  font-family: Montserrat;
  padding-bottom: 80px;
}

.advantages img {
  padding-bottom: 30px;
}

.advantages h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 769px) {
  .aboutus__left_section {
    margin-top: 0px;
    padding: 20px;
    background: #3F51B5;
    color: white;
  }
  .aboutus__left_section h1 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 35px;
  }
  .aboutus__right_section {
    margin-top: 0px;
    padding: 20px;
    background: white;
    color: #999999;
  }
  .aboutus__right_section h1 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 35px;
  }
  .aboutus__right_section ul {
    padding-top: 33px;
    list-style: none;
    background: url(./../img/bg/list-dots.svg) no-repeat;
  }
  .aboutus__right_section ul li {
    font-family: Montserrat;
    font-size: 16px;
    margin-bottom: 17px;
    padding-left: 30px;
    color: #222222;
    font-weight: bolder;
  }
  #advantages_title {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Montserrat;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
  }
  .advantages {
    font-family: Montserrat;
    padding-bottom: 80px;
  }
  .advantages .col-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .advantages .col-md img {
    width: 80px;
    height: 100px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-bottom: 30px;
  }
  .advantages .col-md h3 {
    padding-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
}

.profiles {
  text-align: center;
}

.profiles h1 {
  font-family: Montserrat;
  color: #999999;
  font-size: 50px;
  font-weight: 900;
  padding-top: 70px;
  padding-bottom: 50px;
}

.profiles__logos img {
  border: 2px solid #cccccc;
  border-radius: 1000px;
  width: 150px;
  height: 150px;
}

.profiles__logos h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  margin: 20px auto 50px auto;
}

@media screen and (max-width: 769px) {
  .profiles {
    text-align: center;
  }
  .profiles h1 {
    font-family: Montserrat;
    color: #999999;
    font-size: 40px;
    font-weight: 900;
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .profiles__logos img {
    border: 2px solid #cccccc;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
  }
  .profiles__logos h4 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    margin: 20px auto 50px auto;
  }
}

.prices {
  padding-top: 70px;
  font-family: Montserrat;
  text-align: center;
}

.prices h1 {
  padding-bottom: 40px;
  color: #999999;
  font-size: 50px;
  font-weight: 900;
}

.prices__windows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.prices__windows .col-md {
  padding: 70px 70px 20px 70px;
  border: 1px solid #e0e0e0;
}

.prices__windows .col-md h4 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
}

.prices__windows .col-md h3 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 33px;
  font-weight: 600;
  padding-bottom: 10px;
}

.prices__windows .col-md button {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
}

.prices__windows .col-md button:hover {
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
  -webkit-box-shadow: 0 0 25px #a94444b6;
          box-shadow: 0 0 25px #a94444b6;
}

.prices__windows .col-md:hover {
  padding: 70px 70px 20px 70px;
  -webkit-box-shadow: 0 0 10px #0000003e;
          box-shadow: 0 0 10px #0000003e;
}

@media screen and (max-width: 1000px) {
  .prices {
    font-family: Montserrat;
    text-align: center;
  }
  .prices h1 {
    color: #999999;
    font-size: 50px;
    font-weight: 900;
  }
  .prices__windows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .prices__windows .col-md {
    padding: 20px;
    border: 1px solid grey;
  }
  .prices__windows .col-md h4 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 10px;
  }
  .prices__windows .col-md h3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .prices__windows .col-md button {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-radius: 100px;
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336;
  }
}

@media screen and (max-width: 769px) {
  .prices {
    font-family: Montserrat;
    text-align: center;
  }
  .prices h1 {
    color: #999999;
    font-size: 35px;
    font-weight: 900;
  }
  .prices h1__windows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .prices h1 .col-md {
    padding: 20px;
    border: 1px solid #e0e0e0;
  }
  .prices h1 .col-md h4 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 10px;
  }
  .prices h1 .col-md h3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .prices h1 .col-md button {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-radius: 100px;
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336;
  }
}

.easybuy {
  padding-bottom: 170px;
  text-align: center;
}

.easybuy h1 {
  color: #999999;
  font-size: 50px;
  font-weight: 900;
}

.easybuy .row {
  padding-bottom: 50px;
  background: url(./../img/icons/easybuy/listline.png) no-repeat 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.easybuy .row:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.easybuy .row:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.easybuy .row:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.easybuy .row:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.easybuy .row:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
}

.easybuy .col-md {
  text-align: center;
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mastercall_btn {
  width: 270px;
  height: 55px;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
}

.consult_form {
  font-family: Montserrat;
  text-align: center;
  color: #fff;
}

.consult_form__bg {
  padding-top: 0px;
  padding-bottom: 50px;
  background: #3F51B5;
}

.consult_form__pos {
  margin-top: -120px;
  padding-top: 120px;
  background: #3F51B5;
}

.consult_form h1 {
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 900;
}

.consult_form h2 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.consult_form input {
  height: 48px;
  border-radius: 0px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.consult_form input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.consult_form button {
  margin-top: 40px;
  width: 250px;
  height: 57px;
  border: 2px solid;
  border: none;
  cursor: pointer;
  color: #3363b7;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100px;
  background: #ffffff;
}

.consult_form button:hover {
  widows: 260px;
  height: 57px;
  border: 2px solid;
  border-radius: 100px;
  color: #ffffff;
  background-color: #3363b7;
  border-color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 25px #cec1c1b6;
          box-shadow: 0 0 25px #cec1c1b6;
}

@media screen and (max-width: 769px) {
  .consult_form {
    font-family: Montserrat;
    text-align: center;
    color: #fff;
  }
  .consult_form__bg {
    padding-top: 0px;
    padding-bottom: 50px;
    background: #3F51B5;
  }
  .consult_form__pos {
    margin-top: -120px;
    padding-top: 120px;
    background: #3F51B5;
  }
  .consult_form h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
  }
  .consult_form h2 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  .consult_form input {
    margin-bottom: 30px;
    height: 48px;
    border-radius: 0px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  .consult_form button {
    margin-top: 40px;
    width: 250px;
    height: 57px;
    border: 2px solid;
    border: none;
    cursor: pointer;
    color: #3363b7;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100px;
    background: #ffffff;
  }
}

.feedback {
  padding-bottom: 100px;
}

.feedback h1 {
  padding-top: 40px;
  text-align: center;
  color: #999999;
  font-size: 50px;
  font-weight: 900;
}

.feedback img {
  border-radius: 100px;
}

.feedback__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__name {
  font-size: 20px;
  font-weight: 600;
}

.feedback__region {
  font-size: 16px;
  color: #666666;
}

.box {
  text-align: left;
  border: 1px solid #e0e0e0;
  border-bottom: 5px solid #e0e0e0;
  width: 100%;
  height: 250px;
  margin: 50px auto;
  background: #fff;
  font-size: 16px;
  padding: 20px;
  font-weight: lighter;
  color: black;
  position: relative;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #e0e0e0;
  border-right: 10px solid transparent;
  border-top: 10px solid #e0e0e0;
  border-bottom: 8px solid transparent;
  left: 19px;
  bottom: -19px;
}

@media screen and (max-width: 1020px) {
  .box {
    text-align: left;
    border: 1px solid #e0e0e0;
    border-bottom: 5px solid #e0e0e0;
    width: 100%;
    height: 250px;
    margin: 50px auto;
    background: #fff;
    font-size: 13px;
    padding: 20px;
    font-weight: lighter;
    color: black;
    position: relative;
  }
  .sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #e0e0e0;
    border-right: 10px solid transparent;
    border-top: 10px solid #e0e0e0;
    border-bottom: 8px solid transparent;
    left: 19px;
    bottom: -19px;
  }
}

@media screen and (max-width: 769px) {
  .box {
    text-align: left;
    border: 1px solid #e0e0e0;
    border-bottom: 5px solid #e0e0e0;
    width: 90%;
    height: 250px;
    margin: 50px auto;
    background: #fff;
    font-size: 14px;
    padding: 20px;
    font-weight: bold;
    color: black;
    position: relative;
  }
  .sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #e0e0e0;
    border-right: 10px solid transparent;
    border-top: 10px solid #e0e0e0;
    border-bottom: 8px solid transparent;
    left: 19px;
    bottom: -19px;
  }
  .feedback {
    padding-bottom: 100px;
  }
  .feedback h1 {
    padding-top: 40px;
    text-align: center;
    color: #999999;
    font-size: 35px;
    font-weight: 900;
  }
  .feedback img {
    border-radius: 100px;
  }
  .feedback__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__name {
    font-size: 20px;
    font-weight: 600;
  }
  .feedback__region {
    font-size: 16px;
    color: #666666;
  }
}

.address {
  padding-bottom: 30px;
}

.address h1 {
  font-family: Montserrat;
  text-align: center;
  font-size: 32px;
  color: #999999;
  font-weight: 900;
  padding-bottom: 40px;
  background: #fff;
}

.address__form_side {
  background: #3F51B5;
}

.address input {
  margin-bottom: 40px;
  height: 48px;
  border-radius: 0px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.address input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.address button {
  margin-bottom: 100px;
  margin-top: 10px;
  width: 250px;
  height: 57px;
  border: 2px solid;
  border: none;
  cursor: pointer;
  color: #3363b7;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100px;
  background: #ffffff;
}

.address button:hover {
  widows: 260px;
  height: 57px;
  border: 2px solid;
  border-radius: 100px;
  color: #ffffff;
  background-color: #3363b7;
  border-color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 25px #cec1c1b6;
          box-shadow: 0 0 25px #cec1c1b6;
}

form > h3 {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 900;
  font-size: 33px;
  color: #fff;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999999;
  font-size: 16px;
}

.footer__number {
  color: #222;
  font-size: 22px;
  font-weight: 700;
}

.footer__nav {
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
}

.footer__nav span:nth-child(1n):after {
  content: "|";
  font-size: 13px;
  padding-left: 3px;
}

@media screen and (max-width: 769px) {
  .footer {
    text-align: center;
  }
  .footer__number {
    padding-top: 20px;
  }
  .footer__nav {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=mainstyle.css.map */