body {
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
}

.form-control:focus {
  border-color: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  max-width: 1240px;
  width: 100%;
}

.nav_bar {
  background: #fff;
  -webkit-box-shadow: 0 0 5px #000000b6;
          box-shadow: 0 0 5px #000000b6;
}

.header {
  margin-top: 80px;
  max-height: 700px;
  padding-bottom: 0;
  background: url(./../img/bg/headerbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cards {
  background: #bed7ef;
  padding-bottom: 200px;
}

.aboutus {
  margin-top: 0;
  background: url(./../img/bg/windowbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.consult_form {
  background: url(./../img/bg/citybg.jpg) no-repeat;
  background-size: 100%;
}

.address_title h1 {
  font-family: Montserrat-Black;
  text-align: center;
  font-size: 32px;
  color: #999999;
  font-weight: 900;
  padding-bottom: 40px;
}

.address {
  background: #3F51B5;
}

@media screen and (max-width: 769px) {
  .cards {
    padding-bottom: 0px;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-item .nav-link {
  padding: 0;
}

.nav-link {
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  color: black !important;
}

.nav-link:hover {
  color: #f44336 !important;
}

#navbar_logo {
  width: 255px;
  height: 55px;
}

.nav_bar__list_set {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_bar__tel_set {
  font-family: Roboto;
  font-weight: bolder;
  font-size: 22px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar_btn {
  font-family: Montserrat-SemiBold;
  width: 200px;
  height: 37px;
  color: #f44336;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid;
  border-radius: 100px;
}

#navbar_btn:focus {
  border-color: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#navbar_btn:hover {
  color: #fff;
  background: #f44336;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid;
  border-radius: 100px;
}

@media screen and (max-width: 420px) {
  #navbar_logo {
    width: 130px;
    height: 30px;
  }
}

@media screen and (max-width: 990px) {
  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav_bar__list_set {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_bar__tel_set {
    text-align: left;
  }
}

.header {
  font-family: Montserrat;
  padding-bottom: 150px;
}

.header h3 {
  padding-top: 10%;
  font-size: 6vh;
  color: #3F51B5;
}

.header h1 {
  font-family: Montserrat-SemiBold;
  font-size: 20vh;
  font-weight: 700;
  margin-top: -40px;
  color: #3F51B5;
}

.header h4 {
  font-family: Montserrat-SemiBold;
  margin-top: -25px;
  font-size: 3vh;
  font-weight: bold;
}

.header button {
  margin-top: 10px;
  width: 260px;
  height: 57px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
  font-size: 18px;
  font-weight: 600;
}

.header button:hover {
  width: 260px;
  height: 57px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 25px #a94444b6;
          box-shadow: 0 0 25px #a94444b6;
}

@media screen and (max-width: 900px) {
  .header h1 {
    font-size: 11vh;
  }
}

@media screen and (max-width: 480px) {
  .header {
    font-family: Montserrat;
    padding-bottom: 150px;
  }
  .header h3 {
    padding-top: 10%;
    font-size: 4vh;
    color: #3F51B5;
  }
  .header h1 {
    font-family: Montserrat-SemiBold;
    font-size: 13vh;
    font-weight: 700;
    margin-top: -40px;
    color: #3F51B5;
  }
  .header h4 {
    font-family: Montserrat-SemiBold;
    margin-top: -25px;
    font-size: 2vh;
    font-weight: bold;
  }
  .header button {
    margin-top: 10px;
    width: 260px;
    height: 57px;
    border-radius: 100px;
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336;
    font-size: 18px;
    font-weight: 600;
  }
}

.cards {
  text-align: center;
}

.cards img {
  width: 100%;
  height: 100%;
}

.aboutus__left_section {
  margin-top: -180px;
  padding: 50px;
  background: #3F51B5;
  color: white;
}

.aboutus__left_section h1 {
  font-family: Montserrat-Black;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 70px;
}

.aboutus__right_section {
  margin-top: -180px;
  padding: 50px;
  background: white;
  color: #999999;
}

.aboutus__right_section h1 {
  font-family: Montserrat-Black;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 70px;
}

.aboutus__right_section ul {
  padding-top: 33px;
  list-style: none;
  background: url(./../img/bg/list-dots.svg) no-repeat;
}

.aboutus__right_section ul li {
  font-family: Montserrat-Bold;
  font-size: 16px;
  margin-bottom: 17px;
  padding-left: 60px;
  color: #222222;
  font-weight: bolder;
}

#advantages_title {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}

.advantages {
  text-align: center;
  font-family: Montserrat;
  padding-bottom: 80px;
}

.advantages img {
  padding-bottom: 30px;
}

.advantages h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 769px) {
  .aboutus__left_section {
    margin-top: 0px;
    padding: 20px;
    background: #3F51B5;
    color: white;
  }
  .aboutus__left_section h1 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 35px;
  }
  .aboutus__right_section {
    margin-top: 0px;
    padding: 20px;
    background: white;
    color: #999999;
  }
  .aboutus__right_section h1 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 35px;
  }
  .aboutus__right_section ul {
    padding-top: 33px;
    list-style: none;
    background: url(./../img/bg/list-dots.svg) no-repeat;
  }
  .aboutus__right_section ul li {
    font-family: Montserrat;
    font-size: 16px;
    margin-bottom: 17px;
    padding-left: 30px;
    color: #222222;
    font-weight: bolder;
  }
  #advantages_title {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Montserrat;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
  }
  .advantages {
    font-family: Montserrat;
    padding-bottom: 80px;
    text-align: center;
  }
  .advantages .col-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages .col-md img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 80px;
    height: 100px;
    padding-bottom: 30px;
  }
  .advantages .col-md h3 {
    margin-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
}

@media screen and (max-width: 1024px) {
  .advantages .col-md h3 {
    font-size: 13px;
  }
}

.profiles {
  text-align: center;
}

.profiles h1 {
  font-family: Montserrat-Black;
  color: #999999;
  font-size: 50px;
  font-weight: 900;
  padding-top: 70px;
  padding-bottom: 50px;
}

.profiles__logos img {
  margin: 0 auto;
  border: 2px solid #cccccc;
  border-radius: 1000px;
  max-width: 150px;
  max-height: 150px;
}

.profiles__logos h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  margin: 20px auto 50px auto;
}

@media screen and (max-width: 769px) {
  .profiles {
    text-align: center;
  }
  .profiles h1 {
    font-family: Montserrat;
    color: #999999;
    font-size: 40px;
    font-weight: 900;
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .profiles__logos img {
    border: 2px solid #cccccc;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
  }
  .profiles__logos h4 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    margin: 20px auto 50px auto;
  }
}

#window_icon_set {
  margin: 0 auto;
  max-width: 71px;
  max-height: 37px;
  width: 100%;
  height: 100%;
}

.prices {
  padding-top: 70px;
  font-family: Montserrat;
  text-align: center;
}

.prices h1 {
  font-family: Montserrat-Black;
  padding-bottom: 40px;
  color: #999999;
  font-size: 50px;
  font-weight: 900;
}

.prices__windows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.prices__windows .col-md {
  font-family: Montserrat-SemiBold;
  padding: 70px 70px 50px 70px;
  border: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prices__windows .col-md img {
  max-height: 240px;
  width: 100%;
  height: 100%;
}

.prices__windows .col-md h4 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 10px;
}

.prices__windows .col-md h3 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 33px;
  font-weight: 600;
  padding-bottom: 10px;
}

.prices__windows .col-md button {
  font-family: Montserrat;
  margin: 0 auto;
  max-width: 145px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
}

.prices__windows .col-md button:hover {
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
  -webkit-box-shadow: 0 0 25px #a94444b6;
          box-shadow: 0 0 25px #a94444b6;
}

.prices__windows .col-md:hover {
  padding: 70px 70px 50px 70px;
  -webkit-box-shadow: 0 0 10px #0000003e;
          box-shadow: 0 0 10px #0000003e;
}

@media screen and (max-width: 1000px) {
  .prices {
    font-family: Montserrat;
    text-align: center;
  }
  .prices h1 {
    color: #999999;
    font-size: 50px;
    font-weight: 900;
  }
  .prices__windows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .prices__windows .col-md {
    padding: 20px;
    border: 1px solid grey;
  }
  .prices__windows .col-md h4 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 10px;
  }
  .prices__windows .col-md h3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .prices__windows .col-md button {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-radius: 100px;
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336;
  }
}

@media screen and (max-width: 769px) {
  #window_icon_set {
    display: none;
  }
  .prices {
    font-family: Montserrat;
    text-align: center;
  }
  .prices h1 {
    color: #999999;
    font-size: 35px;
    font-weight: 900;
  }
  .prices h1__windows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .prices h1 .col-md {
    padding: 20px;
    border: 1px solid #e0e0e0;
  }
  .prices h1 .col-md img {
    width: 80%;
    height: 80%;
  }
  .prices h1 .col-md h4 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 10px;
  }
  .prices h1 .col-md h3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .prices h1 .col-md button {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-radius: 100px;
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336;
  }
}

.easybuy {
  padding-bottom: 170px;
  text-align: center;
}

.easybuy h1 {
  font-family: Montserrat-Black;
  color: #999999;
  font-size: 50px;
  font-weight: normal;
}

.easybuy h4 {
  font-family: Montserrat-SemiBold;
  font-weight: 400;
  font-size: 20px;
}

.easybuy h4:first-letter {
  font-family: Montserrat-Bold;
  font-weight: 600;
  font-size: 20px;
}

.easybuy__img-group {
  background: url(./../img/icons/easybuy/listline.png) no-repeat;
  background-size: contain;
  background-position: 50% 60%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.easybuy__img-group img {
  border: 1px solid #cabfbfc7;
  background: #fff;
  border-radius: 150px;
}

.easybuy__img-group div {
  padding: 30px;
}

.easybuy__img-group div:nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.easybuy__img-group div:nth-child(5) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.easybuy__img-group div:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.easybuy__img-group div:nth-child(4) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.easybuy__img-group div:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#mastercall_btn {
  width: 270px;
  height: 55px;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
}

#mastercall_btn:hover {
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336;
  -webkit-box-shadow: 0 0 25px #a94444b6;
          box-shadow: 0 0 25px #a94444b6;
}

@media screen and (max-width: 768px) {
  .easybuy {
    padding-bottom: 0;
    text-align: center;
    padding-bottom: 150px;
  }
  .easybuy h1 {
    color: #999999;
    font-size: 24px;
    font-weight: 900;
  }
  .easybuy h4 {
    display: inline;
    font-weight: bold;
    font-size: 13px;
  }
  .easybuy h4:first-letter {
    font-weight: bold;
    font-size: 13px;
  }
  .easybuy__img-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
    height: auto;
  }
  .easybuy__img-group img {
    border: none;
  }
  .easybuy__img-group div {
    padding: 0;
  }
  .easybuy__img-group div:nth-child(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .easybuy__img-group div:nth-child(5) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .easybuy__img-group div:nth-child(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .easybuy__img-group div:nth-child(4) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .easybuy__img-group div:nth-child(3) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.consult_form {
  font-family: Montserrat;
  text-align: center;
  color: #fff;
}

.consult_form__bg {
  padding-top: 0px;
  padding-bottom: 50px;
  background: #3F51B5;
}

.consult_form__pos {
  margin-top: -120px;
  padding-top: 120px;
  background: #3F51B5;
}

.consult_form h1 {
  font-family: Montserrat-Black;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 900;
}

.consult_form h2 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.consult_form input {
  height: 48px;
  border-radius: 0px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.consult_form input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.consult_form input::-webkit-input-placeholder {
  color: #fff;
}

.consult_form input:-ms-input-placeholder {
  color: #fff;
}

.consult_form input::-ms-input-placeholder {
  color: #fff;
}

.consult_form input::placeholder {
  color: #fff;
}

.consult_form input:hover {
  border-color: white !important;
}

.consult_form button {
  font-family: Montserrat-Bold;
  margin-top: 40px;
  width: 250px;
  height: 57px;
  border: 2px solid;
  border: none;
  cursor: pointer;
  color: #3363b7;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100px;
  background: #ffffff;
}

.consult_form button:hover {
  widows: 260px;
  height: 57px;
  border: 2px solid;
  border-radius: 100px;
  color: #ffffff;
  background-color: #3363b7;
  border-color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 25px #cec1c1b6;
          box-shadow: 0 0 25px #cec1c1b6;
}

@media screen and (max-width: 769px) {
  .consult_form {
    font-family: Montserrat;
    text-align: center;
    color: #fff;
  }
  .consult_form__bg {
    padding-top: 0px;
    padding-bottom: 50px;
    background: #3F51B5;
  }
  .consult_form__pos {
    margin-top: -120px;
    padding-top: 120px;
    background: #3F51B5;
  }
  .consult_form h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
  }
  .consult_form h2 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
  .consult_form input {
    margin-bottom: 30px;
    height: 48px;
    border-radius: 0px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  .consult_form button {
    margin-top: 40px;
    width: 250px;
    height: 57px;
    border: 2px solid;
    border: none;
    cursor: pointer;
    color: #3363b7;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100px;
    background: #ffffff;
  }
}

.feedback {
  padding-bottom: 100px;
}

.feedback h1 {
  font-family: Montserrat-Black;
  padding-top: 40px;
  text-align: center;
  color: #999999;
  font-size: 50px;
  font-weight: 900;
}

.feedback img {
  border-radius: 100px;
}

.feedback__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__name {
  font-family: Montserrat-SemiBold;
  font-size: 20px;
  font-weight: 600;
}

.feedback__region {
  font-size: 16px;
  color: #666666;
}

.box {
  text-align: left;
  border: 1px solid #e0e0e0;
  border-bottom: 5px solid #e0e0e0;
  width: 100%;
  height: 250px;
  margin: 50px auto;
  background: #fff;
  font-size: 16px;
  padding: 20px;
  font-weight: lighter;
  color: black;
  position: relative;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #e0e0e0;
  border-right: 10px solid transparent;
  border-top: 10px solid #e0e0e0;
  border-bottom: 8px solid transparent;
  left: 19px;
  bottom: -19px;
}

@media screen and (max-width: 1020px) {
  .box {
    text-align: left;
    border: 1px solid #e0e0e0;
    border-bottom: 5px solid #e0e0e0;
    width: 100%;
    height: 250px;
    margin: 50px auto;
    background: #fff;
    font-size: 13px;
    padding: 20px;
    font-weight: lighter;
    color: black;
    position: relative;
  }
  .sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #e0e0e0;
    border-right: 10px solid transparent;
    border-top: 10px solid #e0e0e0;
    border-bottom: 8px solid transparent;
    left: 19px;
    bottom: -19px;
  }
}

@media screen and (max-width: 769px) {
  .box {
    text-align: left;
    border: 1px solid #e0e0e0;
    border-bottom: 5px solid #e0e0e0;
    width: 90%;
    height: 250px;
    margin: 50px auto;
    background: #fff;
    font-size: 14px;
    padding: 20px;
    font-weight: bold;
    color: black;
    position: relative;
  }
  .sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #e0e0e0;
    border-right: 10px solid transparent;
    border-top: 10px solid #e0e0e0;
    border-bottom: 8px solid transparent;
    left: 19px;
    bottom: -19px;
  }
  .feedback {
    padding-bottom: 100px;
  }
  .feedback h1 {
    padding-top: 40px;
    text-align: center;
    color: #999999;
    font-size: 35px;
    font-weight: 900;
  }
  .feedback img {
    border-radius: 100px;
  }
  .feedback__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__name {
    font-size: 20px;
    font-weight: 600;
  }
  .feedback__region {
    font-size: 16px;
    color: #666666;
  }
}

.address {
  padding-bottom: 30px;
}

.address input {
  margin-bottom: 40px;
  height: 48px;
  border-radius: 0px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.1);
}

.address input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.address input::-webkit-input-placeholder {
  color: #fff;
}

.address input:-ms-input-placeholder {
  color: #fff;
}

.address input::-ms-input-placeholder {
  color: #fff;
}

.address input::placeholder {
  color: #fff;
}

.address input:hover {
  border-color: white !important;
}

.address button {
  margin-bottom: 100px;
  margin-top: 10px;
  width: 250px;
  height: 57px;
  border: 2px solid;
  border: none;
  cursor: pointer;
  color: #3363b7;
  font-family: Montserrat-Bold;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100px;
  background: #ffffff;
}

.address button:hover {
  widows: 260px;
  height: 57px;
  border: 2px solid;
  border-radius: 100px;
  color: #ffffff;
  background-color: #3363b7;
  border-color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 25px #cec1c1b6;
          box-shadow: 0 0 25px #cec1c1b6;
}

.address iframe {
  padding-top: 30px;
  position: relative;
}

form > h3 {
  font-family: Montserrat-Bold;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 900;
  font-size: 33px;
  color: #fff;
}

#button {
  display: inline-block;
  background-color: #F44336;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  border: 1px solid #fff;
}

#button:active {
  border: 2px solid #F44336;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999999;
  font-size: 16px;
}

.footer__number {
  font-family: Roboto;
  color: #222;
  font-size: 22px;
  font-weight: 700;
}

.footer__nav {
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
}

.footer__nav span:nth-child(1n):after {
  content: "|";
  font-size: 13px;
  padding-left: 3px;
}

@media screen and (max-width: 769px) {
  .footer {
    text-align: center;
  }
  .footer__number {
    padding-top: 20px;
  }
  .footer__nav {
    padding-top: 20px;
  }
}

#nav_popup_btn {
  margin: 30px auto 30px auto;
  width: 208px;
  height: 60px;
  border: 2px solid;
  border-radius: 55px;
  color: #3363b7;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav_popup_btn:hover {
  color: #fff;
  background: #3363b7;
}

.fade {
  display: none;
}

.modal-dialog {
  width: 100%;
  height: 100%;
}

.modal-dialog h1 {
  font-size: 28px;
  text-align: center;
  padding: 60px;
  font-family: Montserrat-Bold;
}

.modal-dialog .form-group {
  padding-left: 60px;
  padding-right: 60px;
}

.modal-dialog .form-group label {
  font-family: Montserrat-Bold;
  padding-bottom: 10px;
}

.modal-dialog .form-group input {
  background: #f5f5f5;
  height: 55px;
}

.modal-dialog .form-group input:focus {
  background: #f5f5f5;
}

.modal-dialog .form-group input:placeholder {
  color: black;
}
/*# sourceMappingURL=mainstyle.css.map */