body
    margin: 0 auto
    font-family: Montserrat
    font-style: normal
.container
    max-width: 1200px
    width: 100%
.nav_bar
    margin: 0 auto
.header
    max-height: 700px
    height: 100%
    padding-bottom: 10%
    background: url(./../img/bg/headerbg.jpg)
    background-size: 100%
    background-repeat: no-repeat
.cards
    background: #bed7ef
    padding-bottom: 200px
.aboutus
    margin-top: 0    
    background: url(./../img/bg/windowbg.jpg)
    background-size: cover
    background-repeat: no-repeat
.profiles
.prices
.easybuy
.consult_form
    background: url(./../img/bg/citybg.jpg) no-repeat
    background-size: 100%
.feedback
.address
.footer
