#nav_popup_btn
    width: 208px
    height: 60px
    border: 2px solid
    border-radius: 55px
    color: #3363b7
    font-family: 'Montserrat', sans-serif
    font-size: 18px
    font-weight: bold
    text-align: center
    text-decoration: none
    box-sizing: border-box
.fade
    display: none