.address
    padding-bottom: 30px
    h1
        font-family: Montserrat
        text-align: center
        font-size: 32px
        color: #999999
        font-weight: 900
        padding-bottom: 40px
       
    &__form_side
        background: #3F51B5
    input
        margin-bottom: 40px
        border: none
        border-radius: 0px
    button
        margin-bottom: 100px
        margin-top: 10px
        width: 250px
        height: 57px
        border: 2px solid
        border: none
        cursor: pointer
        color: #3363b7
        font-family: 'Montserrat', sans-serif
        font-size: 18px
        font-weight: bold
        border-radius: 100px
        background: #ffffff
form>h3
    padding-top: 100px
    padding-bottom: 40px
    text-align: center
    font-weight: 900
    font-size: 33px
    color: #fff

