.collapse
    display: flex
    justify-content: flex-end
.nav-item .nav-link
    padding: 0
.nav-link
    color: black !important
.nav-link:hover
    color: #f44336 !important
#navbar_logo
    width: 255px
    height: 55px
.nav_bar
    &__list_set
        width: 100%
        display: flex
    &__set
    &__tel_set
        font-family: Roboto
        font-weight: bolder
        font-size: 22px
        text-align: right
        display: flex
        flex-direction: column
#navbar_btn
    width: 200px
    height: 37px
    color: #f44336
    font-size: 14px
    font-weight: 600
    text-decoration: none
    border: 2px solid
    border-radius: 100px
#navbar_btn:hover
    color: #fff
    background: #f44336
    font-size: 14px
    font-weight: 600
    text-decoration: none
    border: 2px solid
    border-radius: 100px
@media screen and ( max-width: 420px )
    #navbar_logo
        width: 130px
        height: 30px
@media screen and ( max-width: 990px )
    .collapse
        display: flex
        justify-content: flex-start
    .nav_bar
        &__list_set
            width: 100%
            display: flex
            flex-direction: column
        &__tel_set
            text-align: left

    